/*******************************
APP
********************************/

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  background-image: url("assets/back_blur.png");
  background-size: cover;
  color: #fff;
  position: relative;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.spinner-border {
  /* You can keep or tweak your spinner styles here */
  width: 3rem;
  height: 3rem;
}

.hidden {
  display: none;
}

/*******************************
HEADER
********************************/

#header {
  margin-bottom: 1rem;
}

.navbar-brand {
  scale: 2;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 24px auto 8px auto !important;
}

@media only screen and (min-width: 992px) {
  #header .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*******************************
FOOTER
********************************/

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.logo-container img {
  width: 150px;
}

/*******************************
MAIN CONTENT
********************************/

main, .contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .page-header {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 1rem;
}

.section {
  width: 90%;
  margin: 12px 24px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 10px 5px 25px #003655;
  background-color: rgba(0, 0, 0, 0.125);
}

.section-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-warning {
  background: rgba(0, 255, 255, 0.3);
}

/*******************************
ABOUT COMPONENT
********************************/

.about-offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: .5em;
  row-gap: 10px;
}

.about-offers-section {
  margin: 0;
  width: 100%;
}

.about-offers-section h5 {
  height: 15%;
}

.about-offers-section img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15%;
}

.about-offers-section p {
  margin-bottom: 15%;
}

.about-competencies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.about-competencies-section {
  margin: 0;
  padding: 10px 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-competencies-section h6, .about-competencies-section p {
  margin: 0;
  padding: 3px 15px;
  text-align: center;
}

#ourTeam .section-image img {
  width: 30%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  #ourApproach, #ourTeam {
    width: 75%;
  }
  #whyChooseUs {
    width: 50%;
  }
}

/*******************************
PROJECTS COMPONENT
********************************/

.single-project-section {
  width: 80%;
}

.project-link {
  color: #f0f0f0;
  text-decoration: solid;
}

.project-link:hover {
  text-decoration: underline;
}

.worked-with-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

/*******************************
SERVICES COMPONENT
********************************/

#services {
  width: 90%;
}

#services thead {
  border-bottom: 1px solid;
}

#services th, #services td {
  padding: 18px;
  border-left: 1px solid;
}

#services th:first-child, #services td:first-child {
  border: none;
}

#services th {
  text-align: center;
}

.service-name, .service-price {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

/*******************************
CONTACT COMPONENT
********************************/

.section#contact {
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.section#contact ul {
  list-style: none;
}

.section#contact li {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 24px;
}

.section#contact li:last-child {
  margin-bottom: 0;
}

.section#contact li a {
  color: #fff;
  text-decoration: none;
}

.section#contact li a:hover {
  text-decoration: underline;
}

/*******************************
CONTACT FORM COMPONENT
********************************/

.section#contactForm {
  width: 80%;
  margin-top: 48px;
}

.section#contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section#contactForm form input, 
.section#contactForm form select, 
.section#contactForm form button, 
.section#contactForm form textarea {
  width: 500px;
  height: 40px;
  margin: 8px;
  border-radius: 6px;
  padding: 8px;
}

.section#contactForm form textarea {
  min-height: 120px;
}

@media only screen and (max-width: 700px) {
  .section#contactForm {
    width: 90%;
  }

  .section#contactForm form input, 
  .section#contactForm form select, 
  .section#contactForm form button, 
  .section#contactForm form textarea {
    width: 100%;
  }
}

/*******************************
CONTACT FORM EMAIL SENT POPUP
********************************/

.email-sent-modal {
  position: fixed;
  top: 0;
  left: 30%;
  width: 40%;
  margin-top: 24px;
  background: #fff;
  border-radius: 10px;
  color: #000;
}

.email-sent-modal .modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 24px auto 4px;
}

@media only screen and (max-width: 992px) {
  .email-sent-modal {
    left: 10%;
    width: 80%;
    text-align: center;
  }

  .email-sent-modal .modal-header .line-desktop-only {
    display: none;
  }
}

.email-sent-modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.email-sent-modal .modal-body p {
  font-size: 18px;
  margin: 0;
}

.email-sent-modal .modal-footer {
  display: flex;
  justify-content: center;
  margin: 4px auto 24px;
}

/*******************************
BANNERS
********************************/

.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.cookie-banner {
  position: fixed;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}

.cookie-banner p a {
  color: #000000;
}

.cookie-banner button {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .cookie-banner {
    flex-direction: column;
  }
}

.newsletter-banner {
    position: fixed;
    top: 30%;
    background: rgba(255, 255, 255);
    border: 2px solid #000000;
    color: #000000;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.newsletter-banner form {
  width: 90%;
}

.newsletter-banner .newsletter-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.newsletter-banner .newsletter-email input {
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
  padding: 8px;
}

.newsletter-banner .newsletter-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}