* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(90deg, rgb(252, 115, 156) 0%, rgb(139, 102, 241) 100%);
  font-family: "Roboto", sans-serif;
  background-image: url("back_blur.png");
  background-size: contain;
}

.loading-container {
  background-image: url("back_blur.png");
  background-size: contain;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  zoom: 2;
}

#header {
  margin-bottom: 1rem;
}

.navbar-brand {
  scale: 2;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 1.5rem 3rem;
}

@media only screen and (min-width: 992px) {
  #header .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.secition {
  margin: 12px 24px;
  padding: 16px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 10px 5px 25px #aa69d9;
  background: #dd6fb3;
}

.secition:hover {
  transform: scale(1.02);
}

.secition-photo {
  border: none;
  background: none;
}

.project-link {
  color: #f0f0f0;
  text-decoration: solid;
}

.project-link:hover {
  text-decoration: underline;
}

#services thead {
  border-bottom: 1px solid;
}

#services th, #services td {
  padding: 10px;
  border-left: 1px solid;
}

#services th:first-child, #services td:first-child {
  border: none;
}

#services th {
  text-align: center;
}

.service-price {
  font-weight: 600;
}





/****************************
*********** GRID ************
*****************************/

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(12, auto);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about about about about . photo photo photo"
    "about about about about . photo photo photo"
    "experience experience experience experience . . . ."
    "experience experience experience experience projects projects projects projects"
    "education education education education projects projects projects projects"
    "education education education education cerificates cerificates cerificates cerificates"
    ". . . . cerificates cerificates cerificates cerificates"
    ". skills skills . languages languages . ."
    ". skills skills . languages languages . ."
    ". services services services services services services ."
    ". services services services services services services ."
    ". . . . . . . .";
}

.grid-item {

}

#aboutMeItem {
  grid-area: about;
}

#imgItem {
  grid-area: photo;
}

#experienceItem {
  grid-area: experience;
}

#projectsItem {
  grid-area: projects;
}

#educationItem {
  grid-area: education;
}

#skillsItem {
  grid-area: skills;
}

#languagesItem {
  grid-area: languages;
}

#certificatesItem {
  grid-area: cerificates;
}

#servicesItem {
  grid-area: services;
  width: 100%;
}

