.home-container {
    text-align: center;
    width: 100%;
    margin: 15% auto 25% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container h2 {
    font-size: 52px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.home-container p {
    margin-top: 15px;
}

.home-container a {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.depicting-quality {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ict-txt-diff {
    color: #5fa2ff;
    font-size: 58px !important;
}

@media (max-width: 768px) {
    .home-container {
        margin: 0;
    }
    .slogan {
        scale: 50%;
    }
}